@mixin default-text-format {
  font: {
    family: gotham, arial;
    size: 10pt;
    color: #000000;
  }
}


#body {
  @include default-text-format;
  position: relative;
}

.menu-bar {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  white-space: nowrap;
  max-height: 55px;
  display: inline;
}

.sign-in {
  display: inline;
  font-family: gotham, arial;
  size: 8pt;
}

.sign-in img {
  display: inline;
  width: 60px;
  height: 60px;
  border-radius: 10pt;
}

.small {
  text-align: center;
  font-size: 8pt;
}

.sign-in a, a:active {
  font-size: 8pt;
}

#menu-button {
  background-color: rgb(191,255,255);
  width: 65px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: center;
  text-align: center;
  font-size: 8pt;
}

.title-bar{
  background-color: rgb(233,238,246);
  width: 100%;
  @include default-text-format;
}

.side-bar{
  height: 2000px;
  border-right: 2px dotted #000000;
  @include default-text-format;
}

.content {
  @include default-text-format;
  padding: 10px;
}

.tweet {
  border: 1px solid #000000;
  padding: 5px;
  margin: 5px;
}

