@mixin default-text-format {
  font: {
    family: gotham, arial;
    size: 10pt;
    color: #000000;
  }
}

/*@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
  .content {
    width: 100%;
  }
}*/

#body {
  @include default-text-format;
}

.menu {
  padding: 5px;
  display: block; 
  width: 100%;
}

table {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -10px;
  right: 50px;
  float: right; 
  display: inline;
}

.menu-text {
  text-align: center;
  font-size: 8pt;
  font-weight: bold;
}

#menu-left{
  float: left;
  display: inline-block;
}

.menu-img{
  max-width: 60px;
  display: block;
}

#menu-right{
  float: right;
  display: inline-block;
}

.title-bar{
  background-color: rgb(233,238,246);
  width: 90%;
  margin: auto;
  padding: 5px;
}

.side-bar{
  height: 100%;
  padding: 10px;
  @include default-text-format;
}

.img-adjust {
  padding-top: 10px;
  max-width: 83px;
}

.filter-box{
  border-color: #000000;
  border-width: 1px;
  border-style: dashed;
  padding: 10px;
  margin-bottom: 20px;
}

.filter-box-title {
  border-bottom: 1px solid #000000;
  text-align: center;
  top: -10px;
  position: relative;
}

.date-time {
  margin: 0px 10px 0px 10px;
}
.content {
  @include default-text-format;
  padding: 10px;
}

.tweet {
  border-bottom: 1px dotted #000000;
  padding: 5px;
  margin: 5px;
}

.tweet-button-text{
  font-size: 8pt;
}

.tweet-spacing{
  margin: 10px 0px 10px 0px;
}

.filter-list li{
  list-style-type: none;
  display: inline;
  padding: 5px;
}

.filter-list button {
  margin: 5px 0px 5px 0px;
}

.tweet-spacing{
  margin: 5px;
}

.redacted {
  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);
  -o-filter: blur(40px);
  -ms-filter: blur(40px);
  filter: blur(40px);
}

.modal-content > form {
  @include default-text-format;
  background-color: rgb(233,238,246);
  width: 350px;
  height: 200px;
  margin: auto;
  position:relative;
  padding: 25px;
  border: 1px solid #000000;
}

.modal-content > form input[type=text] {
  margin: 10px 0px 10px 0px;
  width: 250px;
  height: 75px;
  line-height: 75px;
  padding: 0px;
  maxlength: 140;
}

.modal-content > input {
  display:block;
  border: 1px solid #000000;
  background-color: rgb(233,238,246);
  height: 100px;
}

