<nav class="navbar navbar-default navbar-static-top">
  <div class="menu-bar">
    <a href="http://www.twitter.com" class="btn btn-info">Home</a>
    <a href="http://www.twitter.com" class="btn btn-info">Compose</a>
    <a href="http://www.twitter.com" class="btn btn-info">Settings</a>
    
    <div class="sign-in">
      <table>
        <tr>
          <td><img src="/img/small_twitter_logo.png" /></td>
          <td><span class="small"><a href="/logout">Logout</a></span><br />
          <span class="small"><%= session[:user] %></span></td>
        </tr>
      </table>         
    </div>

  </div>
</nav>

<div class="title-bar">
  <h1>SPOILR</h1>
</div>

<div class="container-fluid">
  <div class="col-md-3">
    <div class="side-bar">
Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast gangplank wench maroon aft. Brethren of the Coast killick main sheet run a rig Corsair jury mast tackle ho barkadeer doubloon. Pink aft gabion strike colors six pounders hulk Spanish Main Sink me gun Sail ho.
Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast gangplank wench maroon aft. Brethren of the Coast killick main sheet run a rig Corsair jury mast tackle ho barkadeer doubloon. Pink aft gabion strike colors six pounders hulk Spanish Main Sink me gun Sail ho.
Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast gangplank wench maroon aft. Brethren of the Coast killick main sheet run a rig Corsair jury mast tackle ho barkadeer doubloon. Pink aft gabion strike colors six pounders hulk Spanish Main Sink me gun Sail ho.
      </div>
    </div>

  <div class="content">
    <div class="col-md-6">
      <% @tweet_text = "" %>
      <% @twitter_timeline.each { |tweet| %>
      <% @tweet_text = @tweet_text + "<p>" + tweet["text"] + "</p>" } %>
      <%= @tweet_text %>
    </div>
  </div>

</div>