User page

<p><%= session[:user] %></p>
<% user_images = "<img src= #{session[:img]}>" %>
<p><%= user_images %></p>



<% @tweet_text = "" %>
<% @twitter_timeline.each { |tweet| %>
  <% @tweet_text = @tweet_text + "<p>" + tweet["text"] + "</p>" } %>

<%= @tweet_text %>

<a href="/logout">Log out</a>

