<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spoilr</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Compose</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="title-bar">
  <h1>SPOILR</h1>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-xs-3 side-bar">
      <div class="filter-box">Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast gangplank wench maroon aft. Brethren of the Coast killick main sheet run a rig Corsair jury mast tackle ho barkadeer doubloon. Pink aft gabion strike colors six pounders hulk Spanish Main Sink me gun Sail ho.Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast</div>
      <div class="filter-box">Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast gangplank wench maroon aft. Brethren of the Coast killick main sheet run a rig Corsair jury mast tackle ho barkadeer doubloon. Pink aft gabion strike colors six pounders hulk Spanish Main Sink me gun Sail ho. Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast</div>
  </div><!-- Close Side Bar -->

<div class="col-xs-9">
  <div class="content">
    <% @tweet_text = "" %>
    <% @twitter_timeline.each do |tweet| %>
    <!--Begin Tweet -->
      <div class="tweet row">
  
        <div class="col-xs-2">
          <img src="<%= tweet["user"]["profile_image_url"] %>" class="img-adjust"/>
        </div> <!-- Close Twitter photo tag-->

     
        <div class="col-xs-10">

            <div class="row">
                <div class="col-xs-3 tweet-button-text"><a href="http://www.twitter.com/<%= tweet["user"]["screen_name"] %>" target="_blank">@<%= tweet["user"]["screen_name"] %></a></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3 tweet-button-text">Date</div>
                <div class="col-xs-3 tweet-button-text">Time</div>
            </div>

            <div class="row">
              <%= tweet["text"] %>
            </div>

            <div class="row">
              <div class="col-xs-*">
                  <a href="#" class="btn btn-default tweet-button-text">Reply</a>
                  <a href="#" class="btn btn-default tweet-button-text">Retweet</a>
                  <a href="#" class="btn btn-default tweet-button-text">Star</a>
                  <a href="#" class="btn btn-default tweet-button-text">Follow</a>
              </div>
            </div>

          </div> <!-- Close Tweet content -->

        </div>
         <% end %>
      </div>
</div>
</div>
