<nav class="navbar navbar-default navbar-static-top">
  <div class="menu-bar">
    <div class="btn btn-info" href="http://www.twitter.com">Home</a></div>
    <div class="btn btn-info"><a href="http://www.twitter.com">Compose</a></div>
    <div class="btn btn-info"><a href="http://www.twitter.com">Settings</a></div>
    <div class="sign-in">
      <img src="/img/small_twitter_logo.png" />
      <span><a href="/login">Login</a> | <a href="/logout">Logout</a></span>
    </div>
  </div>
</nav>

<div class="title-bar">
  <h1>SPOILR</h1>
</div>

<div class="container">
  <div class="col-xs-12 col-md-3">
    <div class="content">


    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-md-9">
    <div class="side-bar">
Tack lanyard bilge rat parrel ho belaying pin transom fluke gaff fire ship. Clipper yardarm hang the jib grog fore coffer tack dead men tell no tales port spanker. Poop deck pink carouser yo-ho-ho pirate mizzenmast gangplank wench maroon aft. Brethren of the Coast killick main sheet run a rig Corsair jury mast tackle ho barkadeer doubloon. Pink aft gabion strike colors six pounders hulk Spanish Main Sink me gun Sail ho.
    </div>
  </div>
</div>
