<p>Login Landing Page</p>

  <table><tr colspan="2">
        <td rowspan="2"><img src="/img/small_twitter_logo.png" /></td>
        <td><span class="small"><a href="/login">Login</a></span><br />
        <span class="small"><%= session[:user] %></span></td>
      </tr></table>