<!DOCTYPE html>
<html lang="en">
<head>

  <!-- <link rel="stylesheet" href="styles/base/normalize.min.css"> -->
  <!-- <link rel="stylesheet" href="styles/base/boilerplate.css"> -->
    <!-- BOILERPLATE -->
    <!-- <link rel="stylesheet" href="styles/base/minified/boilerplate.min.css"> --><!-- minified version -->
  <!-- <link rel="stylesheet" href="styles/boot.css"> -->
    <!-- BOOT MODULE -->
    <!-- <link rel="stylesheet" href="styles/minified/boot.min.css"> --><!-- minified version -->
  <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <!-- MAIN STYLES -->
    <!-- <link rel="stylesheet" href="styles/minified/main.min.css"> --><!-- minified version -->


  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>

  <title></title>
</head>
<body>

  <%= yield %>
</body>
</html>
