<p>Hello world!</p>
"<h1>Hi #{user['info']['name']}!</h1><img src='#{request.env['omniauth.auth']['info']['image']}'>"
<%= @user['info']['name'] %>
binding.pry
<p>Click <a href="/logout">here</a> to logout</p>
